<!-- this is main.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Strategies</title>
    <!-- Include Tailwind CSS -->
    <script src="https://unpkg.com/htmx.org@1.61"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        function confirmClose(strategyId) {
            if (confirm("Are you sure you want to close this strategy?")) {
                // send a POST request to the /close_strategy endpoint
                fetch("/close_strategy", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: `strategyId=${strategyId}`
                })
                .then(response => {
                    if (response.ok) {
                        // Reload the page if the request was successful
                        location.reload();
                    } else {
                        // Handle error
                        throw new Error("Failed to close the strategy.");
                    }
                })
                .catch(error => {
                    // Display error message
                    alert(error.message);
                });
            }
        } 
    </script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <div class="flex justify-end mb-4">
            <div class="flex-container">
                <!-- Development Notes:
                1) add the close_strategy button to the card - Done!
                2) add the add_trade and roll_trade button to each card-->
                <a href="/add_strategy" class="btn">Add New Strategy</a>                
                <!-- <a href="/add_trade" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add New Trade</a> -->
                <!-- <a href="/roll_trade" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Roll Trade</a> -->
                <!-- <a href="/close_trade" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Close Trade</a> -->
                <a href="/update_prices" class="btn">Update Stock Prices</a>
            </div>
        </div>
        <h1 class="text-3xl font-semibold text-center mb-8">My Strategies</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <!-- Strategy Cards -->
            {% for strategy in strategies %}
            <div class="bg-white rounded shadow p-4">
                <h2 class="text-xl font-semibold">{{ strategy.underlying }}</h2>
                <table class="table-auto mb-4">
                    <tbody>
                        <tr>
                            <td class="table-label">Average Cost Basis:</td>
                            <td>{{ "$%.2f"|format(strategy.average_cost_basis) }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">Adjusted Cost Basis:</td>
                            <td>{{ "$%.2f"|format(strategy.adjusted_cost_basis) }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">Current Stock Price:</td>
                            <td>{{ "$%.2f"|format(strategy.prices[-1].price) if strategy.prices else "N/A" }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">Total Gained:</td>
                            <td>{{ "$%.2f"|format(strategy.total_gained) }}</td>           
                        </tr>
                        <tr>
                            <td class="table-label">ROI:</td>
                            <td >{{ "%.2f"|format((strategy.total_gained) / strategy.average_cost_basis * 100) }}%</td>
                        </tr>
                    </tbody>
                </table>
                <a onclick="confirmClose('{{ strategy.id }}')" class="btn">Close Strategy</a>
                <a href="/add_trade/?strategy_id={{ strategy.id }}" class="btn">Add Trade</a>
                <a href="/close_trade/?strategy_id={{ strategy.id }}" class="btn">Close Trade</a>
                <a href="/roll_trade/" class="btn">Roll Trade</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
